.navbar {
  position: flex;
  width: 100%;
  color: white;
  background-color: black;
  height: 60px;
  display: flex;
  top: 0;
  box-sizing: border-box;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3;

  background-color: gray;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

.nav-links li a:hover {
  background-color: white;
  color: #1e3a8a;
}

#content {
  padding: 80px 50px;
  background: linear-gradient(135deg, #33ccff, #003366);
  color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.logo {
  color: black;
  text-shadow: 0 0 7px #fff, 0 0 21px #ff00de;
  margin-left: 10px;
  font-size: 21px;
  font-weight: bold;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}
